<<<<<<< HEAD
 
#body {
	background-repeat: no-repeat;
	background-image: url("#{resource['img/travel.png']}");
	background-size: 100% 700px;
}

#page {
	width: 1000px;
	margin: 0 auto;
}

#header {
	width: 100%;
	height: 100px;
	margin-bottom: 16px;
}

#content {
	width: 100%;
	height: 580px; 
	margin-right: 16px;
	margin-bottom: 16px;
}
 
#masterRepeat { 
	width: 100%;
	overflow: hidden;
}

#masterRepeatInner {
	
	width: 100%;
	
}

.card { 
	background-color: whitesmoke;
	margin-bottom: 5px;
	padding: 30px;
=======
 
#body {
	background-repeat: no-repeat;
	background-image: url("#{resource['img/travel.png']}");
	background-size: 100% 700px;
}

#page {
	width: 1000px;
	margin: 0 auto;
}

#header {
	width: 100%;
	height: 100px;
	margin-bottom: 16px;
}

#content {
	width: 100%;
	height: 580px; 
	margin-right: 16px;
	margin-bottom: 16px;
}
 
#masterRepeat { 
	width: 100%;
	overflow: hidden;
}

#masterRepeatInner {
	
	width: 100%;
	
}

.card { 
	background-color: whitesmoke;
	margin-bottom: 5px;
	padding: 30px;
>>>>>>> a8c9a4e16b20a6c0eb2bb5200f21f3f535dafbce
}